
ul.card-stacks {
  width: 660px;
  list-style-type: none;
  margin-left: 30%;
  margin-top:5%;
  padding: 0;
  position: relative;
  cursor: pointer;
  height: 700px;
}
ul.card-stacks li.title {
  margin: 0 0 20px;
}
ul.card-stacks li.title h2 {
  font-weight: 700;
}
.test h2{
  font-size: 35px;
  color: darkseagreen;
  margin-left: 5%;
}
ul.card-stacks li.stack {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
          transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
}
ul.card-stacks li.stack ul.cards-down {
  position: relative;
  margin: 0 0 20px;
  padding: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.card-stacks li.stack ul.cards-down li.card {
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
          transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
  left: 0px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  background: #FFF;
  overflow: hidden;
  height: 550px;
  width: 330px;
  border-radius: 10px;
  border-style: dashed;
  border-color: darkseagreen;
  position: absolute;
  top: 0px;
  box-shadow: 1px 2px 2px 0 #aaa;
}
ul.card-stacks li.stack ul.cards-down li.card img {
  max-width: 100%;
  padding: 5px;
  height: 200px;
  width: 300px;
}
ul.card-stacks li.stack ul.cards-down li.card div.content {
  padding: 5px 10px;
  text-align: center;
}
ul.card-stacks li.stack ul.cards-down li.card.card-1 {
  z-index: 10;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
}
ul.card-stacks li.stack ul.cards-down li.card.card-2 {
  z-index: 9;
  -webkit-transform: rotateZ(-7deg);
          transform: rotateZ(-7deg);
}
ul.card-stacks li.stack ul.cards-down li.card.card-3 {
  z-index: 8;
  -webkit-transform: rotateZ(5deg);
          transform: rotateZ(5deg);
}
ul.card-stacks.transition li.stack.stack-1 {
  left: -330px;
}
ul.card-stacks.transition li.stack.stack-2 {
  left: 100px;
}
ul.card-stacks.transition li.stack.stack-3 {
  left: 550px;
}
ul.card-stacks.transition li.stack ul.cards-down li.card {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}
ul.card-stacks.transition li.stack ul.cards-down li.card.card-1 {
  top: 560px;
}
ul.card-stacks.transition li.stack ul.cards-down li.card.card-2 {
  top: 1120px;
} 
