.confirm button.btn-success{
	width:200px;
	
}

p.subtitle{
	font-size: 20px;
	margin: 10px 0 20px 0;
}

p.subcontent{
	font-size: 15px;
	font-weight: 50;
	color: darkgrey;	
}

#trust{
	margin:-60px 0  0 305px;
	width:860px;	
}
#trust2{
	margin:-5px 0  0 305px;
	width:860px;	
}

.subcontent button.btn-link{
	border-color: #0E76A8;
	width:200px;
	height: 30px;
	display: block;
	padding-top:3px;
	font-size: 15px;
	float:right;
}
