<include file="public/header" />	
<script src="__PUBLIC__/js/register.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="__PUBLIC__/css/register.css" />
<div class=" banner-buying">
	<div class=" container">
	<h3><span>登</span>录</h3> 
	<!---->
	<include file="public/headerThree" />	
	</div>
</div>
<div class="login-right">
	<div class="container">
		<h3>Login</h3>
		<div class="login-top">
				<ul class="newlogin-icons">
					<li><a href="#" class="weibo"><i class="weibo"> </i><span>微博</span></a></li>
					<li><a href="#" class="wechat"><i class="wechat"></i><span>微信</span></a></li>
					<li><a href="#" class="qq"><i class="qq"></i><span>QQ</span></a></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="message">
			        	<div id="warn" class="alert alert-warning alert-dismissable warn" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>用户名不能为空！
			        	</div>
			        	<div id="notassign" class="alert alert-warning alert-dismissable warn" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>该用户未注册，请重新输入
			        	</div>
			    </div>
				<div class="form-info">
					<form role="form" action="__MODULE__/Login/checkLogin" method="post" enctype="application/x-www-form-urlencoded">
						<input type="text" class="text" name="username" id="username" placeholder="邮箱">
						<input type="password" class="form-control" name="password" id="password" placeholder="密码">
						 <label class="hvr-sweep-to-right">
				           	<input type="submit" id="login" value="登录">
				           </label>
					</form>
				</div>
			<div class="create">
				<h4>还没有iHome账号?</h4>
				<a class="hvr-sweep-to-right" href="register.html">创建一个账号</a>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
</div>
<!--//contact-->
<<!--footer-->
<include file="public/footer" />	
<!--//footer-->
<script>
		$(function(){
			var $login = $("#login");
			var $username = $("#username");
			var $password = $("#password");
			var $wran = $("#warn");
			var $close = $(".close");
			var $warn_p = $(".warn_p");
			var $close_p = $(".close_p");
			var $notassign=$('#notassign');
			$login.click(function(){
				if ($username.val().length === 0) {
					$wran.css("display","block");
					setTimeOut(function(){
						$wran.hide();
					},2000);
					return false;
				} else{
					if ($password.val().length === 0) {
						$warn_p.css("display","block");
						return false;
					} else{
						return true;
					}
				}
			});
			$username.change(function(){
				/*ajax 查询用户知否已经注册*/
				var data='username='+$username.val();
				console.log(data);
				var path=window.location.pathname;
				var urlSlice=path.split('Home');
				url=urlSlice[0]+'Home/Register/userExistCheck';
				$.ajax({
					type:"GET",
					url:url,
					data:data,
					dataType:"json",
					success:function(data){
						console.log(data);
						data=data.toString();
						if(data!="error"){
						   $notassign.css('display','none');
						}else{
							 $notassign.css('display','block');
						}
					}
				});
			});
			$close.click(function(){
				$(".warn").css("display","none");
				return false;
			});
			$close_p.click(function(){
				$warn_p.css("display","none");
				return false;
			});
		})
	</script>
</body>
</html>