<include file="public/header" />
<include file="public/headerTwo" />
<!--container-->
<div class="dealers">
	<div class="container">
		<div class="dealer-top">
			<!--<h4>Recent Deals</h4>-->
			<div class="deal-top-top">
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de1.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de2.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top ">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de3.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="deal-top-top">
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de4.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de5.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de6.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de7.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="deal-top-top">
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de8.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de9.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de10.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="single.html" class="mask"><img src="__PUBLIC__/images/de11.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="single.html">威尼斯</a></h5>
								<p>绘图面积：200平方</p>
								<p>价格: ￥65,000</p>
							</div>
							<div class="top-deal2">
								<a href="{:U('Index/roomDetail')}" class="hvr-sweep-to-right more">更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<script src="__PUBLIC__/js/util.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/shortRent.js" type="text/javascript" charset="utf-8"></script>

<script src="__PUBLIC__/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.flexisel.js"></script>
<include file="public/footer"/>