<include file="public/headerFour" />	
<link href="__PUBLIC__/css/personal.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/personal_profile.css" rel="stylesheet" type="text/css" media="all" />
<!--//-->	
<div class=" banner-buying">
	<div class=" container">
	<h3><span>个人</span>资料</h3> 
	<!---->
	<include file="public/headerThree" />	
	</div>
</div>
<div class="asked">
	<div class="container">
		<div class="row">
			<div class="col-lg-3" id="left-photo">
				<h class="profile"><img src="__ROOT__{$head_photo}"/ alt="5"></h>
			</div>
			<div class="col-lg-9">
				<hgroup>
				<h1>您好！我是<span>{$Think.session.username}!</span></h1>	<br/>
				<h5 class="report">举报此用户</h5><br/>
				<h5><a href="{:U('Personal/edit_message')}">编辑个人资料</a></a></h5>
				</hgroup>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-success">
   					 <div class="panel-heading">
        					<h4 class="panel-title">已验证的消息</h4>
    					 </div>
    					 <div class="panel-body">
        					这是一个基本的面板
    					 </div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-success">
   					 		<div class="panel-heading">
        							<h4 class="panel-title">已关联的账号</h4>
    					 		</div>
    					 		<div class="panel-body">
        							这是一个基本的面板
    							 </div>
						</div>
					</div>			
				</div>

			</div>
			<div class="col-lg-9">
				<h2>心愿单<span>(number)</span></h2>
				<!--插入心愿单的数量-->
				<a><img class="album" src="__PUBLIC__/images/album1.jpg" /></a>
				<a><img class="album" src="__PUBLIC__/images/album2.jpg" /></a>
				<a><img class="album" src="__PUBLIC__/images/album3.jpg" /></a>
				<h5><a href="{:U('Index/wishlist')}">查看所有</a></h5><br/>
				<hgroup>
				<h2>评价<span>(number)</span></h2><br/>
				<!--插入评价数量-->
				<h4>房东评价</h4>
				</hgroup>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<img class="circle-pro"src="images/profile.jpg" />
						<p>用户名</p>
						<h4 class="list-group-item-heading">
							评价内容
						</h4>
						<p class="list-group-item-text">
							来自·评价时间
						</p>
					</a>
					<a href="#" class="list-group-item">
						<img class="circle-pro"src="images/profile.jpg" />
						<p>用户名</p>
						<h4 class="list-group-item-heading">
							评价内容
						</h4>
						<p class="list-group-item-text">
							来自·评价时间
						</p>
					</a>
					<a href="#" class="list-group-item">
						<img class="circle-pro"src="images/profile.jpg" />
						<p>用户名</p>
						<h4 class="list-group-item-heading">
							评价内容
						</h4>
						<p class="list-group-item-text">
							来自·评价时间
						</p>
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>
<!--//contact-->
<!--footer-->
<include file="public/footer" />	
<!--//footer-->