<include file="public/headerFour" />
<script src="__PUBLIC__/js/masonry.pkgd.min.js"></script>
<script src="__PUBLIC__/js/my jquery.js"></script>
<link href="__PUBLIC__/css/personal.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/personal-profile.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/wishlist.css" rel="stylesheet" type="text/css" media="all" />
<div class=" banner-buying">
	<div class=" container">
	<h3><span>心愿</span>单</h3> 
	<!---->
	<include file="public/headerThree" />
	</div>
</div>
<!--//header-->
<!--contact-->
<div class="asked">
	<div class="container">
		<div id="grid" class="container-fluid">
		  <div class="box"><a href="#"><img src="__PUBLIC__/images/album2.jpg"></a>
		  	<div class="discription">
		  		<h4>地区</h4>
		  		<h4>房源数量·人数·日期</h4>
		  	</div>	  
		  </div>
		  <div class="box"><img src="__PUBLIC__/images/album1.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/album3.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/bl1.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/bo1.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/album2.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/album1.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/album3.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/bl1.jpg"></div>
		  <div class="box"><img src="__PUBLIC__/images/bo1.jpg"></div>
</div>
  
        
   </div>
</div>