<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            入住评价
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            入住前需要做什么准备？
        </h4>
        <p class="list-group-item-text ">
            建议您在入住前联系房东，确认接待和入住时间及详细地址等情况，以便您能够更快捷的入住。
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            办理入住时我需要做什么？
        </h4>
        <p class="list-group-item-text">
            请出示有效身份证件（如身份证、护照等），与订单登记的入住人信息一致，方可办理入住，如果房间是线下支付押金，则需要按照房间信息显示金额支付给房东。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何办理退房？
        </h4>
        <p class="list-group-item-text">
            退房时需交回房间门卡或钥匙，结清账目即完成退房手续。如需延迟退房，请提前与房东沟通协商得到房东的同意。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何办理退房？
        </h4>
        <p class="list-group-item-text">
            退房时需交回房间门卡或钥匙，结清账目即完成退房手续。如需延迟退房，请提前与房东沟通协商得到房东的同意。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            如何对房间进行点评？
        </h4>
        <p class="list-group-item-text">
            在相关房间的详情页面下可以找到发表评价的输入框，用户需要在登录状态下才能点评。          
        </p>
    </a>
</div>