<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            沟通确认
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何与房东联系
        </h4>
        <p class="list-group-item-text ">
            您预定房间时会收到房东联系方式的弹窗，您可以通过上面提供的联系方式联系房东。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            房客支付后，我可以取消订单吗？
        </h4>
        <p class="list-group-item-text">
            不告诉你。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            与房客沟通时应该注意什么？
        </h4>
        <p class="list-group-item-text">
            房客发起咨询后，请您积极回复房客，也可主动发问了解您关注的房客的信息，彼此沟通有利于您更深入地对房客进行了解。            
        </p>
    </a>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#hideclick").click(function(){
  $("p").toggle();
  });
});
</script>
