<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            支付项款
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            可以用什么方式支付订金？
        </h4>
        <p class="list-group-item-text ">
            您可以通过支付宝、微信、银联手机进行支付。
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            为什么付款的时候实际付款额比房租多？
        </h4>
        <p class="list-group-item-text">
            登录“iHome”账号，选定房间后，选择入住日期和退房日期，点击“立即预订”，进入预订页，填写入住人信息，确认订单信息无误后，点击“预订”即可。您提交订单后，需要在30分钟内支付订金。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            什么情况下房东可能扣除押金或者发起索赔？
        </h4>
        <p class="list-group-item-text">
            房东可能在如下情况扣除押金：物品丢失、物品污损、卫生过差扣费、违反房屋守则；此外，如您和房东在入住时达成一致，房东还可以在押金中扣除一些额外费用，如：水电燃气杂费、清洁费用、加床费用、其他。 
            如您为芝麻免押入住，在出现物品丢失、物品污损这两种情况时，房东会在线发起索赔，如属实，需要您及时进行赔付。出现逾期不还，将暂时无法入住iHome，并有可能影响到您的个人征信。     
        </p>
    </a>
</div>