<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            收款评价
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            iHome支持什么方式收款？
        </h4>
        <p class="list-group-item-text">
            您可以使用银行卡、支付宝进行收款。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            何时可以收到房款？
        </h4>
        <p class="list-group-item-text">
            iHome只进行付款操作，具体到账时间依第三方（如支付宝、银行）的处理时间为准，如遇到银行节假日或休息日等均会顺延到账，请耐心等待。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            如果房客发表不实点评或恶意差评怎么办？
        </h4>
        <p class="list-group-item-text">
            如果出现不实点评或恶意差评，您可以通过回评进行解释说明。或联系iHome客服人员介入核实，建议您保留证据,iHome会不遗余力的维护点评的客观性与真实性。          
        </p>
    </a>
</div>
