<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            发布房间
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            如何发布房间
        </h4>
        <p class="list-group-item-text">
            您成功注册“iHome”账号后，登录“iHome”账号，点击“发布房源”按照提示进行发布房间。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            如何使我的房间描述更吸引人
        </h4>
        <p class="list-group-item-text">
           只要您房间信息填写完整、照片清晰精美、房间预订率高、回复率高、房客点评率好评率高、对房客回评率高、开通房东专页、房东日志精彩有趣等，您的房间就有机会吸引更多的房客。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            发布房间收费吗
        </h4>
        <p class="list-group-item-text">
            发布房间是免费的！只有房东有成交订单后，“iHome”才会收取该成交订单总额（不包含押金）的10%作为技术服务费。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            发布房间时对上传照片的要求都有哪些？
        </h4>
        <p class="list-group-item-text">
            （1）至少上传4张照片； （2）高度和宽度至少为800像素； （3）单张照片不得超过20MB； （4）图片格式为jpg、jpeg、png；（5）主图不能为竖图；（6）确保照片为本人摄影作品或已取得该照片拍摄者的使用许可。
        </p>
    </a>
</div>
