<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            搜索预订
        </h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何能快速找到我想要的房间？
        </h4>
        <p class="list-group-item-text ">
            充分利用“iHome”页面提供的搜索或筛选功能，根据您输入的条件，例如：入住时间、房间价格、行政区域、地铁路线、出租类型、房屋类型、设施服务等，向您展示匹配的房间列表。此外可以使用推荐排序、价格高低排序等，均可帮助您快速筛选到合适房源。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何预订房间
        </h4>
        <p class="list-group-item-text">
            登录“iHome”账号，选定房间后，选择入住日期和退房日期，点击“立即预订”，进入预订页，填写入住人信息，确认订单信息无误后，点击“预订”即可。您提交订单后，需要在30分钟内支付订金。
        </p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading" id="hideclick">
            如何收藏喜欢的房源？
        </h4>
        <p class="list-group-item-text">
            浏览房源页面时点击右上角的心形图标，即可收藏您心仪的房源。在“个人中心”->“查看个人资料”->“心愿单”可对已收藏房源进行查看。      
        </p>
    </a>
</div>